@import "tailwindcss";

.mySwiper .swiper-slide {
  transition: transform 0.3s, filter 0.3s;
}

.mySwiper .swiper-slide:not(.swiper-slide-active) img {
  opacity: 0.4;
  transform: scale(0.9);
}

.mySwiper .swiper-slide-active {
    opacity: 1;
    transform: scale(1);
}

#card{
  background-color: #f2e8cf;
  border-color: #386641;
  color: #bc4749;
}

#title{
  color: #bc4749;
  text-shadow: 5 5 5 #00000042;
}